body{
  margin: 0;
  
}
.Nav{
  background-color:whitesmoke;
  color: black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0px 1px;
  margin: 0px;
 

}
.Nav ul{
  padding: 0;
  list-style: none;
  display:flex;
  margin: 0;
  gap: 1rem;


}
.Nav a {
  color: inherit;
  text-decoration: none;
  font-style: bold;
}
.Nav li.active{
background-color: #3c3030;
}
.pricing.hover{
  cursor: pointer;;
  background-color:blue;
}
.pricing.active a,
.about.active a {
  color: blue;
}
.form-group{
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
 padding: 0;
}
input{
  height: 30px;
  width: 400px;
  border-radius: 9px;
  font-size: 15px;
  font-weight: bold;
}

textarea{
  height: 150px;
  width: 400px; 
  border-radius: 9px;
  font-weight: bold;
  font-size: 15px;
}
button{
 align-items: center;
 justify-content: center;
 font-weight: bold;
}
/* .Register{
  height: 30px;
  width: 100px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 0px;
  border: none;
  outline: none;
}
.Login{
  height: 30px;
  width: 80px;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 0px;
  border: none;
  outline: none;
} */
.image{
  margin: 0;
  height: 60px;
  width: 60px;
}
.app-background {
  background-image: url('./Components/rabbit.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* About.css */

.About {
  padding: 20px;
 
}

h1 {
  font-size: 28px;
  color:white;
  
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  font-style: bold;
  
}

/* Additional styling for the Kangundo location */
.LocationInfo {
  font-weight: bold;
  color: #007bff; /* Blue color for the location info */
}
h2{
  color: white;
  font-size: 25px;
  font-style: bold;
}
a{
  font-style: bold;
}
.Donations{font-style: bold;}
li{
  font-style: bold;
}
